.contact-us {
    position: relative;
    // .contact-us__container

    &__container {
    }

    // .contact-us__title

    &__title {
    }

    // .contact-us__bg

    &__bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: -1;
        // .contact-us__bg--img

        &--img {
            width: 100%; height: auto;
            position: absolute;
            left: 0; bottom: 15%;
            user-select: none;
        }
    }

    // .contact-us__list

    &__list {
        padding-top: 40px;
        @include _768 {
            padding-top: 60px;
        }
        @include _992 {
            padding-top: 128px;
        }

        display: flex;
        flex-wrap: wrap;

        margin: calc(-32px / 2);
    }

    // .contact-us__card

    &__card {
        flex: 1 1 100%;
        @include _992 {
            flex: 0 1 50%;
        }
        padding: calc(32px / 2);

        // .contact-us__card--body

        &--body {
            background: var(--dark-blue);
            min-height: 100%;

            padding: 20px 15px;
            @media(min-width: 500px) {
                padding: 48px;
            }
            border-radius: 16px;

            display: flex;
            flex-direction: column;
        }

        // .contact-us__card--title

        &--title {
        }

        // .contact-us__card--list

        &--list {
            flex: 1 1 auto;
            padding-top: 16px;
            & li {
                padding: 5px 0;
                & * {
                    font-style: normal;
                }
            }
        }

        // .contact-us__card--footer

        &--footer {
            padding-top: 21px;
            display: flex;
            flex-direction: column;
        }

        // .contact-us__card--link

        &--link {
            padding: 11px 0;
            display: flex;
            align-items: center;

            color: var(--white);
            font-weight: 600;
            font-size: 1rem;
            @media(min-width: 500px) {
                font-size: 1.25rem;
            }
            line-height: 130%;

            transition: color .2s ease-in-out;
            &:hover {
                color: var(--blue-hover);
            }

            &:active {
                color: var(--blue-active);
            }

            & svg {
                width: 24px;
                margin-right: 16px;
            }
        }
    }
}
