.consulting {
    padding: 184px 0 164px;
    // .consulting__container

    &__container {
    }

    // .consulting__header

    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;

        position: relative;
    }

    // .consulting__back

    &__back {
        position: absolute;
        left: 0; top: 0;

        display: flex;
        align-items: center;

        font-size: 0.875rem;
        color: rgba(255, 255, 255, 0.7);

        transition: color .2s ease-in-out;

        & svg {
            margin-right: 5px;
            & path {
                transition: stroke .2s ease-in-out;
            }
        }

        &:hover {
            color: var(--blue-hover);
        }

        &:active {
            color: var(--blue-active);
        }
    }

    // .consulting__main-title

    &__main-title {
    }

    // .consulting__row

    &__row {
    }

    // .consulting__main-btn

    &__main-btn {
    }

    // .consulting__main

    &__main {
    }

    // .consulting__article

    &__article {

        // .consulting__article--body

        &--body {
        }

        // .consulting__article--logo

        &--logo {
        }

        // .consulting__article--logo-img

        &--logo-img {
        }

        // .consulting__article--info

        &--info {
        }

        // .consulting__article--title

        &--title {
        }

        // .consulting__article--content

        &--content {
        }

        // .consulting__article--footer

        &--footer {
        }

        // .consulting__article--btn

        &--btn {
        }

        // .consulting__article--link

        &--link {
        }
    }
}
